<div class="sidebar" ng-controller="sidebarCtrl as vm">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Principal  
      </li>
 
      <li class="nav-item" >
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="fa fa-pie-chart" aria-hidden="true"></i> Mis productos </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" ui-sref-active="active" ui-sref="app.productos"><i class="fa fa-archive" aria-hidden="true"></i> Productos </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" ui-sref-active="active" ui-sref="app.test"><i class="fa fa-archive" aria-hidden="true"></i> Test </a>
      </li>
           
   
    </ul>
  </nav>
</div>